<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true"></a>
  </li>
</ul>