<!doctype html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?> <?- include('../partials/nav') -?>
    <div class="container text-center">
      <h1><?= pageData.title ?></h1>
      <p class="fs-4 text">Welcome to <?= pageData.title ?></p>
    </div>
    <?- include('../partials/footer') -?>
  </body>

  <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="12.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  
</div>
    

  </div>
</html>
